html, body{
  height : 100%;
  width : 100%;
  background-attachment : fixed;
  background-repeat : no-repeat;
  background-position : center center;
}

/* 修正上方固定導航列 */
body{
  padding-top : 50px;
}
body .navbar-header .navbar-brand{
  font-size : 18px;
}
#navbar .github{
  color : #DDDDDD;
  background : -webkit-linear-gradient(#3A0088, #000000);
  background : -o-linear-gradient(#3A0088, #000000);
  background : -moz-linear-gradient(#3A0088, #000000);
  background : linear-gradient(#3A0088, #000000);
}
#navbar .github:hover{
  color : #DDDDDD;
  background : -webkit-linear-gradient(#3A0088, #444444);
  background : -o-linear-gradient(#3A0088, #444444);
  background : -moz-linear-gradient(#3A0088, #444444);
  background : linear-gradient(#3A0088, #444444);
}

/* 拉大間距 */
.top-bottom-pad{
  padding : 70px 0;
}

/* 文字垂直置中 */
.text-vcenter{
  display : table-cell;
  text-align : center;
  vertical-align : middle;
}

/* 文字大小 */
.text-vcenter h1{
  font-size : 45px;
  font-weight : 700;
  margin : 0;
  padding : 0;
}

/* 第1個區塊用 */
#home{
  display : table;
  height : 100%;
  position : relative;
  width : 100%;
  -webkit-background-size : cover;
  -moz-background-size : cover;
  -o-background-size : cover;
  background-size : cover;
}

/* 第2個區塊的幻燈片用*/
#slideshow .carousel-inner > .item > img{
  margin : 0 auto;
  width : 1000px;
}

/* 第3個區塊用*/
#intro{
  background-color : #306d9f;
  color : #ffffff;
}

/* 第3個區塊圖示字型的大小與外觀 */
#intro .glyphicon{
  border : 2px solid #FFFFFF;
  border-radius : 50%;
  display : inline-block;
  font-size : 60px;
  height : 140px;
  line-height : 140px;
  text-align : center;
  vertical-align : middle;
  width : 140px;
}

/* 第4個區塊用 */
#info{
  display : table;
  height : 850px;
  position : relative;
  width : 100%;
  -webkit-background-size : cover;
  -moz-background-size : cover;
  -o-background-size : cover;
  background-size : cover;
}

/* 第4個區塊的新聞用 */
#info .panel{
  opacity : 0.85;
}

/* 第5個區塊用 */
#about{
  background-color : #306d9f;
  color : #ffffff;
  padding-top : 3%;
  padding-bottom : 3%;
  text-align : center;
  vertical-align : middle;
}

/* 第6個區塊用 */
#milestones{
  color : #000000;
  padding-top : 3%;
  padding-bottom : 3%;
  text-align : center;
  vertical-align : middle;
}

/* 第7個區塊用 */
#schooling{
  background-color : #B088FF;
  color : #000000;
  padding-top : 3%;
  padding-bottom : 3%;
  text-align : center;
  vertical-align : middle;
}

/* 第8個區塊用 */
#master{
  color : #000000;
  padding-top : 3%;
  padding-bottom : 3%;
  font-size : 25px;
  text-align : center;
  vertical-align : middle;
}

/* 第9個區塊用 */
#development{
  background-color : #FF77FF;
  color : #000000;
  padding-top : 3%;
  padding-bottom : 3%;
  text-align : center;
  vertical-align : middle;
}

/* 第10個區塊用*/
#teachers{
  color : #000000;
  padding-top :3%;
  padding-bottom :3%;
  text-align : center;
  vertical-align : middle;
}

/* 第10個區塊圖示字型的大小與外觀 */
#teachers .headimg{
  border : 2px solid #FFFFFF;
  border-radius : 50%;
  display : inline-block;
  font-size : 60px;
  height : 140px;
  line-height : 140px;
  text-align : center;
  vertical-align : middle;
  width : 140px;
}

/* 第11個區塊用 */
#iuc{
  background-color : #FFAA33;
  color : #000000;
  padding-top : 3%;
  padding-bottom : 3%;
  text-align : center;
  vertical-align : middle;
}

/* 第12個區塊用 */
#links{
  color : #000000;
  padding-top : 3%;
  padding-bottom : 3%;
  text-align : center;
  vertical-align : middle;
}

/*頁腳使用的樣式*/
footer {
    background-color : #494949;
    color : #ddd;
    min-height : 100px;
    padding-top : 20px;
    padding-bottom : 40px;
}

/*回到上方區塊使用的樣式*/
.scroll-top {
   position : fixed;
   bottom :0;
   right : 15px;
   z-index : 100;
   font-size : 24px;
   margin-bottom : 20px;
   margin-right : 10px;
   background-color : #8f8f8f;
}
.scroll-top a:link, .scroll-top a:visited {
   color : #777;
}
